{% extends 'base.html.twig' %}

{% block title %}Tous les livres{% endblock %}

{% block body %}
    <h1 class="text-center">Tous les livres</h1>
    <div class="contain">
        {% for book in books %}
            <div class="card">
                <img class="card-img-top" src="{{book.image}}" alt="image {{book.name}}">
                <div class="card_body">
                    <h5 class="card-title">{{book.name}}</h5>
                    <p class="card-text">{{book.price}} €</p>
                    <a class="btn btn-primary" href="{{ path('app_book_show', {'id': book.id}) }}">Voir</a>
                </div>
            </div>
        {% endfor %}    
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info m-5" href="{{ path('app_book_new') }}">Ajouter un livre</a>
    {% endif %}
{% endblock %}
