{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>{{ categorie.name }}</h1>

    <div class="contain">
        {% for book in books %}
            <div class="card">
                <img src="{{book.image}}" alt="image {{book.name}}">
                <div class="card_content">
                    <h3>{{book.name}}</h3>
                    <h4>{{book.price}}</h4>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">Voir</a>
                </div>
            </div>
        {% endfor %}    
    </div>
    <a href="{{ path('app_categorie_index') }}">Voir toutes les categories</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
        {{ include('categorie/_delete_form.html.twig') }}
    {% endif %} 
{% endblock %}
